.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Define the initial state of the <h1> tag */
.title {
  font-size: 64px;
  color: "#000000";
  opacity: 0;
}

/* Apply the animation to the <h1> tag */
.title {
  animation: fade-in 1s ease-in-out forwards;
}

.button {
  background-color: #286ae4; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 125px;
  font-weight: 400;

  /* z-index: 1; */
}

.buttons {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(133, 133, 133, 0.24),
    0 17px 50px 0 rgba(133, 133, 133, 0.24);
}

.button:active {
  transform: scale(0.95); /* Adjust the scale factor as needed */
  background-color: #1b4da8; /* Replace with your desired color */
}

/* Define the animation */
@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
